.main {
  
    width: 50%; /* Set the width of your div */
    position: absolute;
    top: 26%;
    left: 28%;
    background-color: aqua;
    
}

.subHead
{
  text-align: center;
}


.textDiv
{
  justify-content: center;
  align-items: center;
}

.textBox{
  width: 50%;
  justify-content: center;
}

.mainHeading{
  justify-content: center;
  text-align: center;
}
